:root {
    --mainColor: #606B56;
    --secondaryColor: #515a48;
    --previewBackground: rgba(81, 90, 72, 0.8);
    --mainText: #ffffff;
    --secondaryText: #eeeeee;
    --borderColor: #161914;
    --themeDotBorder: #ffffff;
    --previewShadowBackground: #2a2f25;
    --submitButtonColor: #669966;
}